/* Add some css styles based on the tutorial at javascript.info: introduction to browser events
 https://javascript.info/introduction-browser-events */
 .main{
    background-color : blue;
    position: relative;
    width: 100%;
    height : 100%;
 }
 .left{
     background : gray;
     box-align: start;
 }
 .right{
     background : gray;
     box-align: end;
 }