/* Add some css styles based on the tutorial at javascript.info: introduction to browser events
 https://javascript.info/introduction-browser-events */
 .main{
    background-color : blue;
    position: relative;
    width: 100%;
    height : 100%;
 }
 .layout1 {
     width: 500px;
    height: 500px;
    background : image-set("images/ornigiri_1.png", "images/ornigiri_2.png", "images/ornigiri_3.png");
    text-align: center;
 }
 .layout2 {
    width: 500px;
   height: 500px;
   background : image-set("images/ornigiri_2.png", "images/ornigiri_3.png", "images/ornigiri_4.png");
   text-align: center;
}
.layout3 {
    width: 500px;
   height: 500px;
   background : image-set("images/ornigiri_3.png", "images/ornigiri_4.png", "images/roll_1.png");
   text-align: center;
}
.layout4 {
    width: 500px;
   height: 500px;
   background : image-set("images/ornigiri_4.png", "images/roll_1.png", "images/roll_2.png");
   text-align: center;
}
.layout5 {
    width: 500px;
   height: 500px;
   background : image-set("images/roll_1.png", "images/roll_2.png", "images/roll_3.png");
   text-align: center;
}
.scrollRight{
    width: 50px;
    height: 50px;
    text-align: right;
}
.scrollLeft{
    width: 50px;
    height: 50px;
    text-align: left;
}